*{
	margin: 0;
	padding: 0;
	font-family: verdana;
}
.header{
	background-color: #3b4997;
	width: 100%;
	height: 70px;
	color: white;
	position: fixed;
}
.header h2{
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.nav {
	padding-left: 800px;
	padding-top: 25px;
}
.nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 50px;
}
.nav ul li a{
	text-decoration: none;
	color: white;
}
.nav ul li a:hover{
	color: lightskyblue;
	font-style: italic;
}
.figure{
	background: linear-gradient(#2b1055, #7597de);
	height: 600px;
	margin-bottom: 70px;
	text-align: center;
	color: white;
}
.figure img{
	border-radius: 200px;
	height: 150px;
	border: 6px solid white;
	margin-top: 100px;
}
.figure h1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.figure button{
	margin-top: 60px;
	padding: 10px;
	width: 400px;
	border-radius: 40px;
	border: none;
}
.figure button:hover{
	background-color: lightskyblue;
	border: 1px solid white;
}
.pendidikan, .main{
	text-align: center;
	margin-top: 30px;
}
.box1 img, .box2 img, .box3 img{
	border-radius: 200px;
	height: 150px;
	border: 6px solid white;
}
.box1, .box2, .box3{
	width: 300px;
	height: 300px;
	background-color: lightsteelblue;
	text-align: center;
	border-radius: 10px;
	padding: 30px 30px;
	margin: 70px 20px 70px 55px;
	float: left;
}
.box1:hover, .box2:hover, .box3:hover, .aboutMe:hover, .contact img:hover{
	background-color: #3b5999;
	color: white;
}
.pendidikan h3, p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.aboutMe{
	width: 80%;
	height: 300px;
	background-color: lightsteelblue;
	text-align: left;
	border-radius: 5px;
	padding: 40px 30px;
	margin: 70px 110px 70px 110px;
	float: left;
}
.contact{
	width: 45%;
	height: 400px;
	background-color: lightsteelblue;
	text-align: left;
	border-radius: 5px;
	padding: 40px 30px;
	margin-top: 70px;
	margin-left: 110px;
	margin-bottom: 70px;
	padding-top: 100px;
	float: left;
}
.contact img{
	margin: 10px;
	height: 30px;
	width: 30px;
}
.aside{
	background-color: lightsteelblue;
	border-radius: 5px;
	text-align: left;
	width: 30%;
	height: 570px;
	padding: 20px;
	margin-left: 30px;
	float: left;
}
input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid lightskyblue;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit]{
	background-color: #3b4997;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: red;
}
.footer{
	background-color: #3b5999;
	width: 100%;
	height: 40px;
	color: white;
	float: left;
}